# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = extract_emails.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy:heroku]
url = https://kallada-scrapers.herokuapp.com/
project = extract_emails
# username = <HEROKU_EMAIL>
# password = <HEROKU_PASSWORD>

[deploy:local]
url = http://127.0.0.1:6800/
project = extract_emails