<form action="/confirm" method="POST" style="flex:1; flex-direction: row; justify-content: center;align-items: center;vertical-align: center;">
  <input type="text" id="to_email" name="to_email" class="btn btn-outline-success mb-2 my-2" value=<%= token %> >
  <button type="submit" class="btn btn-outline-primary mb-2 my-2" >submit</button>
</form>

